/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* Colors */
/* Theme colors */
/* Light */
/* Dark */
* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: -2;
  transition: 0.3s ease;
}
body.dark-theme::before {
  background: #555555;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 260px;
  background-image: url("../../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 384px;
  z-index: -1;
}

.container {
  max-width: 375px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.theme {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
.theme .theme-label {
  width: 55px;
  height: 25px;
  position: relative;
  display: block;
  background: #cfd9e4;
  border-radius: 200px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.5s;
}
.theme .theme-label::after {
  content: "";
  width: 22.5px;
  height: 22.5px;
  position: absolute;
  top: 1.5px;
  left: 2px;
  background: linear-gradient(180deg, #fab254, #d8890b);
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.theme .theme-label:active::after {
  width: 35px;
}
.theme .theme-label svg {
  position: absolute;
  width: 16px;
  top: 5px;
  left: 5px;
  z-index: 100;
}
.theme .theme-label .sun {
  fill: #ffffff;
  transition: 0.5s;
}
.theme .theme-label .sun path {
  fill: #ffffff;
}
.theme .theme-label .moon {
  left: 35px;
  transition: 0.5s;
}
.theme .theme-label .moon path {
  fill: #7e7e7e;
}
.theme .theme-input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.theme .theme-input:checked + .theme-label {
  background: #242422;
}
.theme .theme-input:checked + .theme-label::after {
  left: 53.5px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.theme .theme-input:checked + .theme-label .sun path {
  fill: #7e7e7e;
}
.theme .theme-input:checked + .theme-label .moon path {
  fill: #ffffff;
}

.card .back-card {
  position: relative;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.card .back-card .img-bg-card {
  width: 265px;
}
.card .back-card .cvc {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 36px;
}
.card .front-card {
  height: 155px;
  width: 265px;
  position: relative;
  top: -63px;
}
.card .front-card .img-front-card {
  width: 100%;
}
.card .front-card .details-card {
  height: 100%;
  padding: 20px;
  position: relative;
  top: -160px;
  color: #ffffff;
  letter-spacing: 0.0675rem;
}
.card .front-card .details-card .logo-card {
  display: block;
  width: 55px;
}
.card .front-card .details-card .number-card {
  position: relative;
  bottom: -20px;
  font-size: 1.13rem;
  font-weight: 400;
}
.card .front-card .details-card .info-card {
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 0.45rem;
  font-weight: 300;
  opacity: 85%;
  display: flex;
  justify-content: space-between;
}

.form-wrapper:nth-child(2) {
  position: relative;
  top: -20px;
}

.form-wrapper:nth-child(2) {
  position: relative;
  top: -20px;
}

.form-card {
  padding: 10px;
}
.form-card .form-label {
  position: relative;
  top: 10px;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.form-input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  border: 1px solid #dedddf;
  border-radius: 7px;
}
.form-input::-moz-placeholder {
  color: #dedddf;
  opacity: 95%;
  font-weight: 500;
}
.form-input::placeholder {
  color: #dedddf;
  opacity: 95%;
  font-weight: 500;
}
.form-input:active, .form-input:focus {
  -o-border-image: linear-gradient(to right, #6347ff, #600594);
     border-image: linear-gradient(to right, #6347ff, #600594);
  border-image-slice: 1;
  border-image-width: 1px;
  outline: none;
}

.error-info, .error-info2 {
  position: relative;
  top: -10px;
  color: #ff5252;
  font-size: 0.6rem;
}/*# sourceMappingURL=style.css.map */