/* Hanken Grotesk 500; 700; 800 */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  background-color: hsl(221, 100%, 96%);
}

.container {
  max-width: 375px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
}

.result {
  padding: 30px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.result h3 {
  opacity: 70%;
  margin-bottom: 20px;
}
.result h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.result p {
  font-size: 0.95rem;
  font-weight: 500 bold;
  opacity: 75%;
}
.result .points {
  position: relative;
  width: 140px;
  height: 140px;
  margin-left: 25%;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, hsla(256, 72%, 46%, 0.5), hsla(241, 72%, 46%, 0));
  transition: transform 0.5s, box-shadow 0.5s;
}
.result .points:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.result .points .points-scored {
  padding-top: 20px;
  font-size: 3.5rem;
  font-weight: 800;
  opacity: 100%;
}
.result .points .max-score {
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 50%;
}

.discription {
  padding: 0 30px 30px 30px;
  display: flex;
  flex-direction: column;
}
.discription h2 {
  margin-top: 20px;
}
.discription .stats {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
  border: none;
}
.discription .stats:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform: scale(1.05);
}
.discription .stats img {
  margin-left: 20px;
  width: 25px;
}
.discription .stats h3 {
  width: 100px;
  margin: 0 70px 0 10px;
  font-weight: 700;
}
.discription .stats p {
  font-weight: 800;
}
.discription .stats span {
  font-weight: 500;
  opacity: 90%;
}
.discription .reaction {
  background-color: hsl(6, 100%, 98%);
}
.discription .reaction h3 {
  color: hsl(0, 100%, 67%);
}
.discription .memory {
  background-color: hsl(42, 100%, 97%);
}
.discription .memory h3 {
  color: hsl(39, 100%, 56%);
}
.discription .verbal {
  background-color: hsl(180, 44%, 96%);
}
.discription .verbal h3 {
  color: hsl(166, 100%, 37%);
}
.discription .visual {
  background-color: hsl(240, 71%, 97%);
}
.discription .visual h3 {
  color: hsl(234, 85%, 45%);
}
.discription button {
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  background-color: hsl(224, 30%, 27%);
  position: relative;
  overflow: hidden;
}
.discription button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent, rgba(255, 255, 255, 0.5));
  transition: left 0.5s;
}
.discription button:hover::before {
  left: 100%;
}
.discription button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (min-width: 1200px) {
  body {
    height: 100vh;
    margin: 0;
  }
  .container {
    max-width: 800px;
    height: 480px;
    flex-direction: row;
    justify-content: space-between;
  }
  .result {
    height: 100%;
    width: 350px;
    padding: 50px;
    float: left;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .result h3 {
    opacity: 70%;
    margin-bottom: 20px;
  }
  .result h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .result p {
    font-size: 0.95rem;
    font-weight: 500 bold;
    opacity: 75%;
  }
  .result .points {
    margin: 30px 0 30px 0;
    width: 180px;
    height: 180px;
    margin-left: 15%;
  }
  .result .points .points-scored {
    padding-top: 40px;
    font-size: 4rem;
    font-weight: 800;
    opacity: 100%;
  }
  .result .points .max-score {
    font-weight: 500;
    font-size: 1rem;
    opacity: 50%;
  }
  .discription {
    width: 380px;
    float: right;
  }
}/*# sourceMappingURL=style.css.map */